*{margin: 0px;
padding: 0px;}
.heading{
   /* margin-left: 70vh; */
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{
    margin-left: 63vh;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10vh;
}
p{
    margin-left: 63vh;
    /* text-decoration: underline; */
    
}
form{
    margin-left: 86vh;

}
body{
    background-color: rgba(73, 80, 80, 0.493);
}
.result{
    margin-left: 23vh;

}
.submitguess{
font-size: 20px;
padding: 4px;
margin-left: 40px;
border-radius: 6px;
margin-top: 30px;
cursor: pointer;

}
.guessfield{
    font-size: 16px;
    
}














